.add-space{
    height: 100px;
    
}

.bg-custom{
    background-color: #fceae8;
    border-radius: 30px;
}

.carousel-custom h1{
    color: #ff4790;
}

.button {
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    padding: 9px 25px;
    cursor: pointer;
    border-radius: 8px;
}

.catagory{
    padding: 15px;
    border-radius: 15px;
}
.catagory img{
    height:100px;
}

.add-border-radius{
    border-radius: 25px;
    
}
